  {{ partial "head.html" . }}
  {{ $baseurl := .Site.BaseURL }}
  <body>
    {{ partial "sidebar.html" . }}
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <div class="post">
          <h1>{{ .Title }}</h1>
          <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
		  <span class="post pull-right">
		    {{ range .Params.tags }}
            <span class="post-tag small"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">#{{ . }}</a></span>
            {{ end }}
		  </span>
          {{ .Content }}
        </div>
        {{ partial "sharing.html" .}}
        {{ partial "comments.html" .}}
      </div>
    </div>

  </body>
  {{ partial "script.html" .}}
</html>
